<div class="header">
  <div class="search">
    <div class="container">
      <img src="img/logo.png">
      <form><input type="search" name="search" placeholder="Поиск"></form>
      <a href="">Вход</a> <a href="">Регистрация</a>
    </div>
  </div>
  <div class="menu">
    <div class="container">
      <a href="#">Люди</a>
      <a href="#">Проекты</a>
      <a href="#">Кастинги</a>
      <a href="#">Новости</a>
      <a href="#">Rental & Sale</a>
    </div>
  </div>
  <div class="carousel">
    <div class="container">
      <img src="img/logos.png">
    </div>
  </div>
</div>

<div class="main">
  <div class="container">


    <div class="avatar avatar-red">
      <img src="img/avatar.jpg">
    </div>

    <div class="info-main">
      <div class="info-main-name"><h1>Бред Питт</h1>  <span class="starr"><b>★★★★★★</b>★★★★</span></div>
      <h4>Директор сьемочной площадки</h4>
      <p><span>Моб.тел:</span> 099 99 999 99</p>
      <p><span>Email:</span> karapuz@mini.ua</p>
      <p><span>Сайт:</span> fb.com/karapuz</p>

    </div>


    <div class="info-all">
      <span><img src="img/info-all-ico.jpg"> О себе <a class="info-all-edit" href="">редактировать</a></span>
      Страна: Украина<br>
      Водитель категории B<br>

      <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа систем
        массового участия. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское
        обеспечение нашей деятельности позволяет оценить значение новых предложений. Идейные соображения высшего
        порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовки и реализации
        систем массового участия. Идейные соображения высшего порядка, а также консультация с широким активом
        представляет собой интересный эксперимент проверки дальнейших направлений развития.
      </p>


    </div>

    <div class="my-project">
      <span><img src="img/my-project-ico.jpg"> Мои проекты <a class="info-all-edit" href="">редактировать</a></span>

      <div class="project-list">
        <h6>Писта рулю</h6>
        <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие
          в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей
          деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
      </div>

      <div class="project-list">
        <h6>Писта рулю</h6>
        <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие
          в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей
          деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
      </div>

      <div class="project-list">
        <h6>Писта рулю</h6>
        <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие
          в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей
          деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
      </div>


    </div>

    <div class="my-news"></div>

  </div>
</div>
