<div class="main">
  <div class="container">


    <div class="avatar avatar-red"  [ngStyle]="{'box-shadow':  userDetails?.freeOrBusy == 0 ? '0px 0px 10px #de0303' : '0px 0px 10px #25bb1b'}">
      <img [src]="'data:image/jpg;base64,'+ userDetails?.avatar" style="height:100%;width:100%">
    </div>

    <div class="info-main">
      <div class="info-main-name"><h1>{{userDetails?.username}} + {{userDetails?.sname}} </h1>  <span class="starr"><b>★★★★★★</b>★★★★</span> </div>
      <h4>{{userDetails?.position}}</h4>
      <p><span>Моб.тел:</span> {{userDetails?.mobile}}</p>
      <p><span>Email:</span> {{userDetails?.email}}</p>
      <p><span>Сайт:</span> {{userDetails?.site}}</p>

    </div>


    <div class="info-all">
      <!--<span><img src="../../../../assets/imgs/info-all-ico.jpg" > О себе <a class="info-all-edit" href="">редактировать</a></span>-->
      <span><img src="../../../../assets/imgs/info-all-ico.jpg" > О себе</span>
      <!--Страна: Украина<br>-->
      <!--Водитель категории B<br>-->

      <p>{{userDetails?.about}}
      </p>


    </div>

    <div class="my-project">
      <!--<span><img src="../../../../assets/imgs/my-project-ico.jpg" > Мои проекты <a class="info-all-edit" href="">редактировать</a></span>-->
      <span><img src="../../../../assets/imgs/my-project-ico.jpg" > Мои проекты</span>
      <div class="project-list" *ngFor="let project of currentProjects">
        <h6>{{project.title}}</h6>
        <p>{{project.story}}</p>
        <span routerLink="/news-one" (click)="goMore(project)" class="more">Подробнее...</span>
      </div>


    </div>

    <div class="my-news"></div>



  </div>
</div>




<!--</body>-->
<!--</html>-->
