<!--<div class="kuznya-ua">-->
  <!--<div class="icon-title">-->
    <!--Тут картинка <h1>test</h1>-->
  <!--</div>-->
  <!--<div class="search">-->
    <!--<input type="text">-->
  <!--</div>-->
  <!--<div class="settings">-->
    <!--<span>message-icon</span>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="navigation-for-pages">-->
  <!--<div class="people" routerLink="/people">people</div>-->
  <!--<div class="projects" routerLink="/projects">projects</div>-->
  <!--<div class="casts" routerLink="/casts">casts</div>-->
  <!--<div class="news" routerLink="/news">news</div>-->
  <!--<div class="rental" routerLink="/rental">rental</div>-->
<!--</div>-->
<div class="header">
  <div class="search">
    <div class="container" >
      <img routerLink="/main" src="../../assets/imgs/logo.png"> <form><input type="search" name="search" placeholder="Поиск"></form>
      <a routerLink="/login" *ngIf="!isOnline">Вход</a>
      <a routerLink="/registration" *ngIf="!isOnline">Регистрация</a>
      <a routerLink="/profile" *ngIf="isOnline">Добрый день, {{userName}}</a>

      <a (click)="logouts()" *ngIf="isOnline">Выйти</a>
	  <img class="i1" routerLink="/main" src="../../assets/imgs/facebook.png"><img class="i1" routerLink="/main" src="../../assets/imgs/youtube.png"><img class="i1" routerLink="/main" src="../../assets/imgs/instagram.png"><img class="i1" routerLink="/main" src="../../assets/imgs/g1.png">
    </div>
  </div>
  <div class="menu">
    <div class="container">
      <a routerLink="/people">Люди</a>
      <a routerLink="/projects">Проекты</a>
      <a routerLink="/casts">Кастинги</a>
      <a routerLink="/news">Новости</a>
      <a routerLink="/rental">Rental & Sale</a>
    </div>
  </div>
  <!--<div class="carousel">
     <div class="container">
      <img src="img/logos.png">
     </div>
  </div>  -->
</div>
<router-outlet></router-outlet>
<div class="footer">

  <div class="container">

    Все права защищены © 2018
    <ul>
      <li><a routerLink="/rooles">Условия пользования</a></li>
      <li><a routerLink="/contacts">Контакты</a></li>
      <li><a routerLink="/adv">Реклама на сайте</a></li>
    </ul>
  </div>
</div>
