<div class="main">
  <div class="container">


    <div class="avatar avatar-red">
      <img src="../../assets/imgs/avatar.jpg">
    </div>

    <div class="info-main">

      <div class="info-main-name"><h1>{{profileInformation?.username}} {{profileInformation?.sname}}</h1>  <span class="starr"><b>★★★★★★</b>★★★★</span> </div>
      <h4>{{profileInformation?.position}}</h4>
      <p><span>Моб.тел:</span> {{profileInformation?.mobile}}</p>
      <p><span>Email:</span> {{profileInformation?.email}}</p>
      <p><span>Сайт:</span> {{profileInformation?.site}}</p>

    </div>

    <div class="info-all-profile">
      <span><img src="../../assets/imgs/info-all-ico.jpg" > Редактировать данные</span>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
        <input type="text" formControlName="mobile"  placeholder="Телефон">
        <input class="password-in" formControlName="email" type="text" placeholder="Email">
        <input type="text" formControlName="site" placeholder="Сайт\Facebook">
        <input type="text" formControlName="position" placeholder="Ваша должность">
        <textarea type="text" formControlName="about"  placeholder="Кратко о себе"></textarea>
        Занятость:
        <select formControlName="freeOrBusy" [(ngModel)]="category.status">
          <option [value]="1" [selected]="category.status ==1">Свободен</option>
          <option [value]="0" [selected]="category.status ==0">Занят</option>
        </select><br>
        <img src="../../assets/imgs/inport.png" class="middle">
        <input type="submit" class="btn-submit" value="Изменить данные">
      </form>

    </div>



    <div class="info-all">
      <span><img src="../../assets/imgs/info-all-ico.jpg" > О себе </span>
      <!--Страна: Украина<br>-->
      <!--Водитель категории B<br>-->

      <p>
        {{profileInformation?.about}}
      </p>


    </div>

    <div class="my-project">
      <span><img src="../../assets/imgs/my-project-ico.jpg" > Мои проекты</span>

      <div class="project-list">
        <h6>Писта рулю <a href="#" class="dot">✎</a></h6>
        <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
        <a href="#" class="project-list-a">Удалить✖</a>


      </div>

      <div class="project-list">
        <h6>Писта рулю <a href="#" class="dot">✎</a></h6>
        <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
        <a href="#" class="project-list-a">Удалить✖</a> </div>

      <div class="project-list">
        <h6>Писта рулю <a href="#" class="dot">✎</a></h6>
        <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
        <a href="#" class="project-list-a">Удалить✖</a></div>


    </div>

    <div class="my-project">
      <span><img src="../../assets/imgs/my-project-ico.jpg" > Добавить</span>

  <form [formGroup]="projectForm" (ngSubmit)="saveProject()" class="my-project-form">

            <input type="text" formControlName="title" placeholder="Заголовок">
            <textarea placeholder="Основной текст"  formControlName="story" rows="15"></textarea>
              Выберите категорию:
          <select>
          <option>Новости</option>
          <option>Проекты</option>
          <option>Кастинги</option>
          <option>Rental & sale</option>
        </select>
        <br>
        <img src="../../assets/imgs/photo.png" class="middle">
        <input type="submit" value="Опубликовать" class="btn-submit">

  </form>


    </div>

    <div class="my-news"></div>



  </div>
</div>



