<!-- please add markup for registration -->

<div class="registration">

  <div class="name">
    <span>Имя</span>
    <input type="text">
  </div>

  <div class="s-name">
    <span>Фамилия</span>
    <input type="text" class="s-name__input">
  </div>

  <div class="mob">
    <span>Мобильный</span>
    <input type="text" class="mobs__input">
  </div>

  <div class="pass">
    <span>Пароль</span>
    <input type="text" class="pass">
  </div>

  <div class="check-pass">
    <span>Еще раз пароль</span>
    <input type="text" class="check-pass__input">
  </div>

</div>
