<!-- please add markup for registration -->

<form class="registration" *ngIf="!allForm || !allForm2 || !allForm3 || !allForm4" [formGroup]="registrationForm" (ngSubmit)="onRegisterSubmit()">

  <img src="../../assets/imgs/login.png">

  <div class="name">
    <span>Имя*</span>
    <input type="text" formControlName="name" >
  </div>

  <div class="name-error" *ngIf="!enterName">
    <span>Пожалуйста, введите свое Имя</span>
  </div>

  <div class="s-name">
    <span>Фамилия</span>
    <input type="text" formControlName="sname" class="s-name__input">
  </div>

  <div class="e-mail">
    <span>E-mail*</span>
    <input type="email" class="email__input" formControlName="email" >
  </div>

  <div class="email-error" *ngIf="!enterEmail">
    <span>Пожалуйста, введите свой e-mail</span>
  </div>

  <div class="mob">
    <span>Мобильный</span>
    <input type="text" formControlName="mobile" class="mobs__input">
  </div>

  <div class="pass">
    <span>Пароль*</span>
    <input type="text" formControlName="password" class="pass">
  </div>

  <div class="check-pass">
    <span>Еще раз пароль*</span>
    <input type="text" formControlName="checkPass" class="check-pass__input">
  </div>

  <div class="check-pass-error" *ngIf="!passMath || !allForm4">
    <span>Пароли не совпадаю или не введены, пожалуйста введите еще раз</span>
  </div>


  <div class="check-pass">
    <input type="submit" class="reg-submit" value="Регистрация">
  </div>

  <div class="reg-inf">
    <input type="checkbox" checked> Согласен с правами пользвателя
  </div>
</form>

<div class="success-form" *ngIf="allForm && allForm2 && allForm3 && allForm4">
  <div class="title-success-form">Поздравляем, Вы прошли регистрацию! Войдите на свою страницу и заполните данные о себе: <a routerLink="/login">войти</a></div>
</div>

