.kuznya-ua {
  display: flex;
  flex-direction: row;

  .icon-title {
    flex-grow: 1;
  }

  .search {
    flex-grow: 2;
  }

  .settings {
    flex-grow: 1;
  }
}

.navigation-for-pages {
  display: flex;
}
