<div class="kuznya-ua">
  <div class="icon-title">
    Тут картинка <h1>test</h1>
  </div>
  <div class="search">
    <input type="text">
  </div>
  <div class="settings">
    <span>message-icon</span>
  </div>
</div>
<div class="navigation-for-pages">
  <div class="people" routerLink="/people">people</div>
  <div class="projects" routerLink="/projects">projects</div>
  <div class="casts" routerLink="/casts">casts</div>
  <div class="news" routerLink="/news">news</div>
  <div class="rental" routerLink="/rental">rental</div>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <span>here will be footer</span>
</div>
