<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
<!--<head>-->
  <!--<meta charset="utf-8">-->
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <!--<link href="css/main.css" rel="stylesheet">-->
  <!--<title>Kinokuznia</title>-->
<!--<body>-->
<!--<div class="header">-->
  <!--<div class="search">-->
    <!--<div class="container">-->
      <!--<img src="img/logo.png"> <form><input type="search" name="search" placeholder="Поиск"></form> <a href="">Вход</a> <a href="">Регистрация</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="menu">-->
    <!--<div class="container">-->
      <!--<a href="#">Люди</a>-->
      <!--<a href="#">Проекты</a>-->
      <!--<a href="#">Кастинги</a>-->
      <!--<a href="#">Новости</a>-->
      <!--<a href="#">Rental & Sale</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="carousel">-->
    <!--<div class="container">-->
      <!--<img src="img/logos.png">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="carousel">
  <div class="container">
    <img src="../../../assets/imgs/logos.png">
  </div>
</div>
<div class="main">
  <div class="container">

    <div class="d3">
      <form>
        <input type="text" placeholder="Искать здесь...">
        <button type="submit"></button>
      </form>
    </div>



    <div class="project-all project-light">
      <h2>Новый проект</h2>

      <p>Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа систем массового участия. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовки и реализации систем массового участия. Идейные соображения высшего порядка, а также консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития.
      </p>
      <a href="#" class="more">Подробнее...</a>

    </div>

    <div class="project-all">
      <h2>Звездные гости на съемочной площадке Отеля Элеон</h2>
      <img src="../../../assets/imgs/kuhnya.jpg">
      <p>

        Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа систем массового участия. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение новых предложений. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовки и реализации систем массового участия. Идейные соображения высшего порядка, а также консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития.
      </p>
      <a href="#" class="more">Подробнее...</a>

    </div>





  </div>
</div>




<!--</body>-->
<!--</html>-->
