.container {
  margin: auto;
  width: 980px;
padding-bottom: 30px;}
.container form {
  width:400px;}
.container form textarea {width: 98%;}
.container form input[type=text] {width:48.3%;}
.main {    min-height: 100vh;}
