
<div class="main">
  <div class="carousel">
    <div class="container">
      <img src="../../../assets/imgs/logos.png">
    </div>
  </div>
  <div class="carousel">
    <div class="container">
      <img src="../../../assets/imgs/main.jpg">
    </div>
  </div>
  <div class="container">
  <div class="main-left-info">
    <span><img src="../../../../assets/imgs/my-project-ico.jpg" >Последние проекты</span>

    <div class="project-list" *ngFor="let projects of myAllProjectsByStatus">
      <h6>{{projects.title}}</h6>
  <p>{{projects.story}}</p>
      <span routerLink="/news-one" (click)="goMore(projects)" class="more">Подробнее...</span>
    </div>




  </div>
  <div class="main-right-info">
    <span><img src="../../../../assets/imgs/my-project-ico.jpg" > Последние новости</span>

    <div class="project-list" *ngFor="let projects of myAllProjectsByStatus2">
      <h6>{{projects.title}}</h6>
  <p>{{projects.story}}</p>
      <span routerLink="/news-one" (click)="goMore(projects)" class="more">Подробнее...</span>
    </div>

  </div>
  </div>
</div>

