
<div class="main">
  <div class="carousel">
    <div class="container">
      <img src="../../../assets/imgs/logos.png">
    </div>
  </div>
  <div class="carousel">
    <div class="container">
      <img src="../../../assets/imgs/main.jpg">
    </div>
  </div>
  <div class="container">
  <div class="main-left-info">
    <span><img src="../../../../assets/imgs/my-project-ico.jpg" >Последние проекты</span>

    <div class="project-list">
      <h6>Писта рулю</h6>
      <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
    </div>

    <div class="project-list">
      <h6>Писта рулю</h6>
      <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
    </div>

    <div class="project-list">
      <h6>Писта рулю</h6>
      <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
    </div>


  </div>
  <div class="main-right-info">
    <span><img src="../../../../assets/imgs/my-project-ico.jpg" > Последние новости</span>

    <div class="project-list">
      <h6>Писта рулю</h6>
      <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
    </div>

    <div class="project-list">
      <h6>Писта рулю</h6>
      <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
    </div>

    <div class="project-list">
      <h6>Писта рулю</h6>
      <p>Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками...</p>
    </div>
  </div>
  </div>
</div>

