<div class="main">
  <div class="container">
    <div class="carousel">
      <div class="container">
        <img src="../../../assets/imgs/logos.png">
      </div>
    </div>
    <form action="#">

      <div class="select-box">

        <label for="select-box1" class="label select-box1"><span class="label-desc">Должность</span> </label>
        <select id="select-box1" class="select">
          <option value="Choice 1">Кинооператор</option>
          <option value="Choice 2">Звукорежисер</option>
          <option value="Choice 3">Стилист</option>
        </select>

      </div>
      <div class="select-box">

        <label for="select-box1" class="label select-box1"><span class="label-desc">Опыт работы</span> </label>
        <select id="select-box1" class="select">
          <option value="Choice 1">1</option>
          <option value="Choice 2">2</option>
          <option value="Choice 3">3</option>
        </select>

      </div>
      <div class="select-box">

        <label for="select-box1" class="label select-box1"><span class="label-desc">Занятость</span> </label>
        <select id="select-box1" class="select">
          <option value="Choice 1">Занят</option>
          <option value="Choice 2">Свободен</option>
        </select>

      </div>

    </form>


    <div class="user"  *ngFor="let user of users">


      <div class="avatar avatar-red" routerLink="/separate-people" (click)="goUser(user)">
        <img src="../../../assets/imgs/avatar.jpg">
      </div>

      <div class="info-main" >
        <div class="info-main-name"><h1>{{user?.username}} {{user?.sname}}</h1>
          <!--<span class="starr"><b>★★★★★★</b>★★★★</span> -->
        </div>
        <h4>{{user?.position}}</h4>
        <p><span>Моб.тел:</span>{{user?.mobile}}</p>
        <p><span>Email:</span> {{user?.email}}</p>
        <p><span>Сайт:</span> {{user?.site}}</p>

      </div>

    </div>





  </div>
</div>


<script type="text/javascript">

  $("select").on("click" , function() {

    $(this).parent(".select-box").toggleClass("open");

  });

  $(document).mouseup(function (e)
  {
    var container = $(".select-box");

    if (container.has(e.target).length === 0)
    {
      container.removeClass("open");
    }
  });


  $("select").on("change" , function() {

    var selection = $(this).find("option:selected").text(),
      labelFor = $(this).attr("id"),
      label = $("[for='" + labelFor + "']");

    label.find(".label-desc").html(selection);

  });
</script>
